script(id="tmpl-wip-hint", class="optime-tmpl", type="text/x-jsrender")
  h1 Optime
  p It's working in progress.
  p
    | For futher information, please log in to
    a(href="http://op-ti.me") op-ti.me
    | &nbsp;to explore more.
